*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%; /* Normally 100% is 16px but 62.5% is 10px which we want. */
}

Body {
  text-align: center;
  font-size: 3rem;
  background-color: #f9f4e9;
  font-family: "Signika Negative", sans-serif;
}

#MyTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin: auto;
}

.TitleDiv:hover {
  transform: rotatey(15deg);
}

.TitleDiv{
  font-size: 7rem;
  background-color: #fb488a;
  padding: 0.5rem;
  width: 75rem;
  justify-content: center;
  border: 1rem solid #1d2a51;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
}

.Parent-1 {
  font-size: 10rem;
  padding: 1rem;
  padding: 2rem;
  border: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: transparent;
  flex-wrap: wrap;
}

.ability {
  height: 18rem;
  border-radius: 2rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.ability:hover {
  transform: skew(5deg, 5deg);
}

.Child-1,
.Child-4,
.Child-7 {
  border: solid #1d2a51 1rem;
  height: 30rem;
  margin: 1rem;
  width: 40rem;
  border-radius: 2rem;
  background-color: aliceblue;
  box-shadow: 0 28px 38px rgba(0, 0, 0, 0.3), 0 20px 20px rgba(0, 0, 0, 0.22);
  transition: all 0.4s;
}

.Child-1:hover,
.Child-4:hover,
.Child-7:hover {
  transform: rotate(5deg);
  background-color: gold;
}

.Child-2,
.Child-5,
.Child-8 {
  border: solid #1d2a51 1rem;
  height: 30rem;
  margin: 1rem;
  width: 30rem;
  border-radius: 2rem;
  background-color: aliceblue;
  box-shadow: 0 28px 38px rgba(0, 0, 0, 0.3), 0 20px 20px rgba(0, 0, 0, 0.22);
  transition: all 0.4s;
}

.Child-2:hover,
.Child-5:hover,
.Child-8:hover {
  transform: rotate(5deg);
  background-color: gold;
}

.Child-3,
.Child-6,
.Child-9 {
  border: solid #1d2a51 1rem;
  height: 30rem;
  margin: 1rem;
  border-radius: 2rem;
  width: 35rem;
  background-color: aliceblue;
  box-shadow: 0 28px 38px rgba(0, 0, 0, 0.3), 0 20px 20px rgba(0, 0, 0, 0.22);
  transition: all 0.4s;
}

.Child-3:hover,
.Child-6:hover,
.Child-9:hover {
  transform: rotate(5deg);
  background-color: gold;
}

.button {
  font-size: 6rem;
  border-radius: 1rem;
  box-shadow: 0 28px 38px rgba(0, 0, 0, 0.3), 0 20px 20px rgba(0, 0, 0, 0.22);
  margin: 5rem;
  transition: 0.3s;
  animation: button 10s infinite;
  border: solid peachpuff;
  position: relative;
}

.button:hover {
  transform: scale(1.1);
}

@keyframes button {
  0% {
    left: 2.8rem;
    bottom: 5rem;
    background-color: peachpuff;
    border: solid peachpuff;
  }
  25% {
    left: 54rem;
    bottom: 5rem;
    background-color: palegoldenrod;
    border: solid palegoldenrod;
  }
  50% {
    left: -50rem;
    bottom: 4rem;
    background-color: yellow;
    border: solid yellow;
  }
  75% {
    left: 5rem;
    bottom: 5rem;
    background-color: orange;
    border: solid orange;
  }
  100% {
    left: 2.8rem;
    bottom: 5rem;
    background-color: peachpuff;
    border: solid peachpuff;
  }
}

@media screen and (min-width: 32rem) and (max-width: 48rem){
  #MyTitle {
    width: 30rem;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
  }

  .Parent-1{
    display: flex;
    flex-direction: row ;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
  
}


@media screen and (min-width: 48.1rem) and (max-width: 76.8rem){
  #MyTitle {
    width: 50rem;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
  }

  .Parent-1{
    display: flex;
    flex-direction: row ;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
}

@media screen and (min-width: 76.8rem) and (max-width:238.8rem){
  #MyTitle {
    width: 70rem;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
  }

  .Parent-1{
    display: flex;
    flex-direction: row ;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }

}



